---
layout: page
title: "About"
description: "Hey, this is miao2."
header-img: "img/404-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        一群小羊在山坡，咩咩咩咩对我把话说，<br>小羊小羊你们说什么，噢，朋友越多越快乐越快乐。
    </blockquote>

<p>Hey，我是苗笛，可以叫我miao2，<br>籍燕国，精神北京人，vlogger，逼粉，降临派，现居宁波。</p>

<p>现职业学生，理想职业是有钱人，<br>学数学，但总被朋友说成“玩物丧志”，<br>多出没于<a href="https://weibo.com/damienmiao">微博</a>、即刻 、饭否、<a href="https://space.bilibili.com/33342917/#/">睿站</a>、<a href="https://www.instagram.com/damien_miao">Ins</a> 等地带，<br>业余时间喜欢睡觉，偶尔做些手工，最近对 Vaporwave 十分入迷；<br>人品尚可，素质一般，还在努力进化，进化方向未知。<br><br>其实就是一个尚未进化完全的普通人，还在努力探索这个世界。<p>

<h5 id="做过的一些有意思的事情，👉戳"><a href="#做过的一些有意思的事情，👉戳" class="headerlink" title="做过的一些有意思的事情，👉戳"></a>做过的一些有意思的事情，👉戳</h5><ul>

<h5 id="Illustration">Illustration</h5>
 <li><a href="https://www.behance.net/gallery/67592201/miao2s-porn-textbook">miao2’s porn textbook</a> · <a href="https://www.behance.net/miaotwo">Behance</a></li>
<li><a href="https://mp.weixin.qq.com/s?__biz=MzIwNzA4MzQwNQ==&mid=2651867122&idx=1&sn=ccedd9def3e23dca36039f77dfaa4cb9&pass_ticket=OwQyx2Gg%2BJ6m6jVfLeYenJizJMJ8uaoaflAgz7gtTAuKRUWafUYOx%2B2HY%2F%2FtKkVJ">跳机场</a> ·  Ujoy</li>

<h5 id="Music">Music</h5>
 <li><a href="https://www.xiami.com/song/mSUYGt6e911?spm=a1z1s.6659513.0.0.FKyJkN">看完 moeNAGI 的视频做的 Love rs</a> · <a href="https://i.xiami.com/miao2">净 街 苗 先 生</a></li>

<h5 id="talks">Talks</h5>
<li><a href="https://mp.weixin.qq.com/s?__biz=MzI0MDU2ODUxNw==&mid=2247484206&idx=1&sn=6d01a5f41865e50c9b2fe99c86c4cd49&chksm=e9199284de6e1b9211c5de89efbc2ec2db1aebaccaac95947d7eabf69a0a367554838eddc2da&mpshare=1&scene=1&srcid=0708JA3qx4o3U1L02b52o1jj&pass_ticket=OwQyx2Gg%2BJ6m6jVfLeYenJizJMJ8uaoaflAgz7gtTAuKRUWafUYOx%2B2HY%2F%2FtKkVJ#rd">春节结束了，希望今年可以慢一点</a> · 五英里潮汐口</li>
<li><a href="https://mp.weixin.qq.com/s?__biz=MzIwNzA4MzQwNQ==&mid=2651866528&idx=1&sn=3dc8ccd2ce2f7fc5bf204926b1968701&chksm=8cf32742bb84ae54fcf784e6b2423ff1cabe9417af414a8c10a3061439b6c11d01d2e5d7f9e0&mpshare=1&scene=1&srcid=0708ceWgngbgeWN66X0THMxa&pass_ticket=OwQyx2Gg%2BJ6m6jVfLeYenJizJMJ8uaoaflAgz7gtTAuKRUWafUYOx%2B2HY%2F%2FtKkVJ#rd">当验孕棒的两道杠慢慢变红 </a> · Ujoy</li>

</ul>

<h5 id="Contact Me"><a href="#Contact Me" class="headerlink" title="Contact Me"></a>Contact Me</h5><ul>

<ul>
  <li>我的微博：<a href="https://www.weibo.com/damienmiao">@你多余的我要了</a></li>
  <li><p>我的 Twitter：<a href="https://twitter.com/miaotwo">@miao2</a></p></li>
  <li><p>我的 Telegram：<a href="https://t.me/miao2">@miao2</a></p></li>
  <li><p>我的 Email：<a href="mailto://damienmiao@pm.me">damienmiao@pm.me</a></p></li>
  <li><p>我的微信：<br/>
<img src="/img/IMG_4817.PNG" alt="IMG_4817"/></p></li>
</ul>


</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
